* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #eac926;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;

}

#logo{
    width: 45%;
    img{
    width: 100%;
    }
}

.logo-barra{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.barra-busqueda{
    width: 45%;
}

.buscar{
    width: 84%;
}


main {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.logo {
    width: 100%;
}

.logo img {
    width: 200px;
    height: 100px;

}

.nav-header {
    display: none;
    
}



.list-nav{
    display: flex;
    list-style: none;
    margin-left: 10px;
}


.burger-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    text-align: center;
    background-color: #1259c3;
    color: white;
    padding: 5px;
}

.parrafo {
    display: inline-block;
}

.login {
    display: inline-block;
}


.banner{
    display: none;
}

.section {
    background-color: #ebebeb;
    width: 100%;
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img img {
    max-width: 250px;
    width: 100%;
    text-align: center;
    height: auto;
}

.section-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-items: center;
    
}

.article-main {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    text-align: center;
    transition: all 1s ease;
    
}

.article-main:hover{
    box-shadow: 0 0 10px rgb(100, 100, 100);
}


.parrafo {
    background-color: white(255, 0, 0);
    padding-top: 30px;
    font-size: 16px;
    width: 100%;
    border-top: solid 1px #ebebeb;
}

.descuento{
    color: #39b54a;
}

.titulo{
    opacity: 0;
    padding: 25px;
    transition:  all 1s ease;
}

.titulo:hover{
    opacity: 1;
}

.circulo {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: -20px;
    right: 5px;
    

}

.fa-truck-fast {
    padding: 10px;
    color: #39b54a;
    border: 2px solid;
    border-radius: 100%;
    background-color: white;
    transition: all 1s ease;
}

.fa-truck-fast:hover{
transform: rotate(-90deg);
}


.footer-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    
}



.footer-icono {
    color: #1259c3;
    font-size: 2em;
    box-shadow: 0px 0px 5px rgba(16, 238, 9, 0.1);
    transition: all 1s ease;
    
}

.footer-icono:hover{
    box-shadow: 4px 4px 4px rgb(98, 231, 9);
    
}


.art-footer {
    text-align: center;
    box-shadow: none;
    border: none;
    
}


.Copyright{
    text-align: center;
}

@media(min-width:768px) {

    #logo {
        width: 30%;

        img {
            width: 300px;
            height: auto;
        }

    }

    .barra-busqueda {
        padding: 10px;
    }

    .frase-header {
        text-align: center;
    }

    .nav-header {
        display: block;
        
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        
    }


    a{
        text-decoration: none;
        gap: 5px;
    }

    .list-nav{
        
        display: flex;
        right: 10%;
        

    }

    .list-a{
        display: flex;
        list-style: none;
        text-decoration: none;
        }

    .burger-menu{
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }




.banner{
    display: block;

    img{
        width: 100%;
    }
}

    .section{
        gap: 20px;
    }

    .section-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .article-main {
        width: 45%;
        
    }
    .article-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        padding: 10px 0px 30px;
    }

    
    
}

@media(min-width:1024px) {
    .buscar {
        width: 270px;
        height: 25px;
    }

    .fa-magnifying-glass {
        height: 19px;
        width: 20px;
    }

    .lupa {
        display: flex;
        align-items: center;
    }

    
    


    .section{
    gap: 20px;
    }

    .section-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        flex-wrap: nowrap
    }

    .article-footer{
        display: flex;
        text-align: center;
        align-items: center;
    }
    
}