* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #eac926;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

main {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.logo {
    width: 50%;
}

.logo img {
    width: 200px;
    height: 100px;

}

.nav-header {
    display: none;
}

.burger-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    text-align: center;
    background-color: #1259c3;
    color: white;
    padding: 5px;
}

.parrafo {
    display: inline-block;
}

.login {
    display: inline-block;
}

h4 {
    visibility: hidden;
}

.section {
    background-color: #ebebeb;
    width: 100%;
    margin: solid 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img img {
    max-width: 250px;
    width: 100%;
    text-align: center;
    height: auto;
}

article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: solid 1px;
    background-color: white;
    width: 100%;
    text-align: center;
    border: #666 1px solid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px 2px;
}


.parrafo {
    background-color: white(255, 0, 0);
    padding-top: 2px;
    font-size: 16px;
    width: 100%;
    border-top: solid 1px #ebebeb;
}

.circulo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: #39b54a 2px solid;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /*padding: 5px;*/
}

.fa-truck-fast {
    padding: 10px;
    color: #39b54a;
}

footer {
    background-color: white;
    display: flex;

}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .articulos-footer {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

.footer-icono {
    color: #1259c3;
    font-size: 2em;
}

.art-footer {
    text-align: center;
    box-shadow: none;
    border: none;
}

@media(min-width:768px) {

    .logo {
        width: 100%;

        img {
            width: 300px;
            height: auto;
        }

    }

    .barra-busqueda {
        padding: 10px;
    }

    .frase-header {
        text-align: center;
    }

    .nav-header {
        display: block;
    }

    .burger-menu {
        display: none;

    }

    header {
        display: flex;
        flex-direction: column;
    }

    h4 {
        visibility: visible;
    }


    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 50%;
        display: inline-block;

        grid-template-columns: repeat(3, 2);

        display: flex;
        padding: 15px;
    }
}

@media(min-width:1024px) {
    .buscar {
        width: 270px;
        height: 25px;
    }

    .fa-magnifying-glass {
        height: 19px;
        width: 20px;
    }

    .lupa {
        display: flex;
        align-items: center;
    }
}